doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/fonts/UnderneathShinAuAv/style.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/node_modules/normalize.css/normalize.css')
    body
        div(class="container-fluid")
            block content
        script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/bower_components/jquery-ui/jquery-ui.min.js")
        script(type="text/javascript", src="/javascripts/users/forms.js")
